# Ignore raw data folder
raw/

# Ignore info and PDF files
info.txt
*.pdf

# Ignore activity key
activity_key.txt

# Ignore CSV files
*.csv

# Ignore macOS system files
.DS_Store

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
